.tooltip {
	position: absolute;
	top: var(--y);
	left: var(--x);
	width: 150px;
	z-index: 100;
	overflow-y: hidden;
	border-radius: 0.5rem;
	background-color: var(--color-200-20);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
  }
  
  .horizontal_text {
	font-size: 9pt;
  }
  
  .svg {
	color: var(--color);
  }
  
  .line_color {
	color: #a3a3a3;
  }
  
  svg text {
	fill: #000;
	font-size: 9pt;
  }
  
  .polygon {
	fill: var(--color-300);
	fill-opacity: 0.2;
  }
  
  .circle {
	fill-opacity: 0;
	fill: var(--color);
  }
  
  .circle:hover {
	fill-opacity: 0.2;
  }
  
  .tooltip-atribute {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-left-width: 8px;
	border-color: var(--color);
	padding: 0.25rem 0.75rem;
  }
  
  .tooltip-key {
	border-bottom-width: 1px;
	border-bottom-style: solid;
  }